body {
    font - family: Arial, Helvetica, sans - serif;
}

* {
    box - sizing: border - box;
}

input[type=text],
select,
textarea {
    width: 100 %;
    padding: 12 px;
    border: 1 px solid# ccc;
    border - radius: 4 px;
    box - sizing: border - box;
    margin - top: 6 px;
    margin - bottom: 16 px;
    resize: vertical;
}

input[type=submit] {
    background - color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]: hover {
    background - color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: # f2f2f2;
    padding: 20 px;
}