body {
    font-family: 'Oswald', sans-serif;
    background-color: #547980;
    color: white;
    margin: 0px;
    padding: 0px;
}

.content {
    min-height: 100%;
    margin: 0 auto -50px;
}


#log {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    float: right;
    background-color: inherit;
    padding: 20px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #254358;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

ul li {
    float: left;
/*    border-right: 1px solid #bbb;*/}


ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 16px;
}

ul li a:hover,
#log:hover {
    background-color: RoyalBlue;
    color: white;
}

ul li a:hover:not(.active) {
    background-color: RoyalBlue;
}

.active {
    background-color: #112d32;
}

div h1 {
    font-size: 35px;
    margin: 0;
    padding: 0;
    display: inline;
}

.title {
    float: left;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.tabs {
    font-size: 24px;
}

textarea{
    white-space: pre-line;
    white-space: pre-wrap;
}

.session{
    margin-top:20px;
    margin-left:20px;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #45ADA8;
}

.btn {
    font-family: 'Oswald', sans-serif;
    background-color: #254358;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 60px 75px;
    /* Some padding */
    font-size: 15px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    width: 20%;
    height: 35%;
    white-space: nowrap;
}

.btn:hover {
    background-color: RoyalBlue;
}

.footer {
    font-family: 'Oswald', sans-serif;
    left: 0;
    bottom: 100px;
    width: 100%;
    color: white;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #112d32;
    height: 100px;    
}

.footer a{
    color = white;
}