.tab {
    border-collapse: collapse;
    width: 100%;
}

.tab td,
.tab th {
    border: 1px solid #ddd;
    padding: 8px;
}


.tab tr:hover {
    background-color: #ddd;
}

.tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #112d32;
    color: white;
}