/itApplication/nbproject/private/
/itApplication/build/
/itApplication/dist/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/itApplicationClientServer/build/
/itApplicationClientServer/dist/
/itApplicationClientServer/nbproject/private/