html, body {
    font-family: 'Raleway', sans-serif; 
    height: 100%;
    margin: 0 auto;
}

.content {
    min-height: 100%;
    margin: 0 auto -50px;
}

body{
    font-family: 'Raleway', sans-serif; 
    background-color:  #547980;
    color:white;
    margin:0px; 
    padding:0px;
}

/*.header{
    color: white;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DodgerBlue;
    position: fixed;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Raleway', sans-serif; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: RoyalBlue;
    color: white;
}

li a:hover:not(.active) {
    background-color: RoyalBlue;
}

.active {
    background-color: #45ADA8;
}

.footer {
    font-family: 'Raleway', sans-serif; 
    left: 0;
    bottom: 100px;
    width: 100%;
    color: white;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DodgerBlue;
    height: 75px;
}

div h1{
    font-size: 40px;
    margin: 0; 
    padding: 0;
}

a{
    text-decoration: none;
    color: #547980;
}
a:hover{
    text-decoration: none;
    color: RoyalBlue;
}

.btn {
    font-family: 'Raleway', sans-serif; 
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 60px 75px; /* Some padding */
    font-size: 15px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 20%;
    height: 30%;
    white-space: nowrap;
}

.btn:hover {
    background-color: RoyalBlue;
}

.search-container input[type=text] {
    padding: 6px 110px;
    border: none;
    font-size: 17px;
}

.search-container button {
    padding: 11px 15px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.hero-image {
    background-image: url("Picture/background.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    width:100%;
    border-spacing:0 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}

textarea {
  outline: #45ADA8;
}

.suggestion {
   width: 200px;
}